<html>
    <head>
        <title>Largest and Smallest number</title>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            <table align="center" border="1">
                <tr>
                    <td>Num 1</td>
                    <td><input type="text" name="txtn1"></td>
                </tr>
                <tr>
                    <td>Num 2</td>
                    <td><input type="text" name="txtn2"></td>
                </tr>
                <tr>
                    <td>Num 3</td>
                    <td><input type="text" name="txtn3"></td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <input type="submit" name="txtsub" value="Submit">
                        <input type="reset" name="txtres" value="Cancel">
                    </td>
                </tr>
            </table>
        </form>
        Largest Number = {{large}}<br>
        Smallest Number = {{small}}
    </body>
</html>