<html>
    <head>
        <title>District</title>
    </head>
    <body>
        <form method="post">
            <table border="1" align="center">
                <tr>
                    <td>District</td>
                    <td><input type="text" name="txtdistrict"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" name="txtsubmit" value="Save">
                        <input type="reset" name="txtreset" value="Cancel">
                    </td>
                </tr>
            </table>
        </form>
            <br>
            <table align="center" border="1">
                <tr>
                    <th>SI.No</th>
                    <th>District</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
    </body>
</html>